/*
Usage:

  1. One time in your scss
    @include genSpaceScale(0.25rem);

  2. In your scss, when you want to use space
    .my-elements {
      margin-top: space(2);
      padding:
        space(10)
        space(0)
        ;
    }

*/

@mixin genSpaceScale($spacing-unit : 0.25rem) {
  --spacing-unit: #{$spacing-unit};
}

@function space($multiplier) {
  @return calc(var(--spacing-unit) * #{$multiplier});
}

