block variables
doctype html
html(lang="en-US")
  
  head
    block seo
    include ./_head.pug
  
  body(class=`${bodyClassName}`)

    include ./_body-before-content.pug

    block content

    include ./_footer.pug