extends ../layout/layout.default.pug

block variables
  - var title = 'Jacopo Marrone'
  - var prefix = FILE_PREFIX
  //- var extraCSS = [FILE_PREFIX+'css/carousel.css']
  - var imgPrefixUrl = IMG_PREFIX_URL
  - var bodyClassName = 'home'

  - 
    const works = [
      {
        name: 'Galleria',
        image: "/images/works/galleria.jpg",
        caption: 'Photographer personal showreel',
        description: '<p>Design gives value for what matter for a photographer, his/her photos.</p><p>Website act only as a background layer that doesn’t fight for user attention.</p><p>After user browsed the photographer works can easily contact the photographer via a form.</p>',
        permalink: '#'
      },
      {
        name: 'Color Compare',
        image: "/images/works/color-compare.jpg",
        caption: 'Lorem ipsum dolor sit amet',
        description: '<p>A tool for who works everyday with design and color codes ( RGB, HEX, HSL )</p><p>Useful when you is need to lay down two or more colors next to each other to easily find the “sweet” combination spot. </p><p> Nothing less nothing more.</p>',
        permalink: '#'
      },
      {
        name: 'Fli',
        image: "/images/works/fli.jpg",
        caption: 'Artist artwork presentation',
        description: '<p>Cinematic sequence landing page used to create hype on product launch. </p><p>Fli wanted to give strength to his artwork presentation at an important artistic international event providing a countdown to the day of the event.</p>',
        permalink: '#'
      },
      {
        name: 'Smile',
        image: "/images/works/fli.jpg",
        caption: 'Storytelling sequence',
        description: '<p>"Smile is what makes humans humans. Smiling on a daily basis help humans stay healty".</p><p>This webpage aims to push the viewer to look for situations in everyday life that bring a smile to his or her face.</p>',
        permalink: '#'
      },
    ];

block content
  .home-grid
    .home-grid__box.home-grid__box--no-bg.home-grid__box-different.home-grid-animate.animate-from-left
      span Jacopo Marrone
    button.home-grid__box.home-grid-animate(data-js="works-toggler")
      span Works
    button.home-grid__box.home-grid-animate(data-js="contact-toggler")
      span Contact Me

  .floating-panel.works
    .floating-panel__inner
      .floating-panel__header
        .works__headline
          span Works
        button.works__close-panel(type="button" data-js="works-toggler" data-icon="arrow-left" )
          span Close
      .floating-panel__content
        .works__list
          each work in works
            .works__item.work
              .work__header
                h2.work__title= work.name
                span.work__caption= work.caption
              img.work__image(src= work.image)
              .work__content
                .work__description
                  | !{work.description}
                .work__actions
                  a.work__go-to-live.button.button--big(href= work.permalink)
                    span View Live
            .works__item-separator.works__item-separator--full-width(data-shape-divider="arrow-down")
          .works__list-footer
            button.works__close-panel-footer(data-js="works-toggler")
              span Close

  .floating-panel.contact
    .floating-panel__inner
      .floating-panel__header
        .contact__headline
          span Contact Me
        button.floating-panel__close-panel(type="button" data-js="contact-toggler" data-icon="arrow-left")
          span Close
      .floating-panel__content
        form.form.contact-form#contact-form
          .form__heading
            span Contact Me
          .form__section
            .form__section-heading
              span Information about you
            .form-field
              .form-field__label
                span Name
              .form-field__input
                input(type="text")
            .form-field
              .form-field__label
                span Email
              .form-field__input
                input(type="email")
            .form-field
              .form-field__label
                span Message
              .form-field__input
                textarea
          .form__section.form__section--actions
            button.button(type="submit")
              span Send
            button.button.button--naked(type="reset")
              span Reset