// Breakpoint
$bp-small: "(min-width: 0px)";
$bp-medium: "(min-width: 768px)";
$bp-large: "(min-width: 992px)";
$bp-huge: "(min-width: 1400px)";

@mixin atSmall {
  @media #{$bp-small} {
    @content;
  }
}

@mixin atMedium {
  @media #{$bp-medium} {
    @content;
  }
}

@mixin atLarge {
  @media #{$bp-large} {
    @content;
  }
}

@mixin atHuge {
  @media #{$bp-huge} {
    @content;
  }
}