@use "sass:math";

@function root-font-size($pixel-size) {
  @return #{math.div($pixel-size, 16) * 100%};
  /*
  Return the root font size in percentage.
  Use this function in the following way:
  :root {
    font-size: root-font-size(20); // set root/html font size to 20px ideally.
  }
  */
}
// Typography System
:root {

  @include atSmall {
    font-size: root-font-size(16); // 16 px
    @include genTypoScaleByRatio(1.125, -3, 15);
  }
  // @include atLarge {
  //   @include genTypoScaleByRatio(1.25, -3, 15);
  // }
  // @include atLarge {
  //   @include genTypoScaleByRatio(1.333, -3, 15);
  // }
  @include atLarge {
    font-size: root-font-size(18); // 18 px
    font-size: root-font-size(20); // 20 px
    @include genTypoScaleByRatio(1.333, -3, 15);
  }

}

:root {
  /* Font Families Sets */
  // --font-family-serif: Rockwell, serif;
  // --font-family-serif: Baskerville, serif;
  // --font-family-serif: BiauKai, serif;
  // --font-family-serif: "Big Caslon", serif;
  // --font-family-serif: "Bodoni 72", serif;
  // --font-family-serif: "Didot", serif;
  --font-family-serif: "Canela Text", serif;
  
  // --font-family-sans-serif: Helvetica, sans-serif;
  // --font-family-sans-serif: "Avenir", sans-serif;
  // --font-family-sans-serif: "Myanmar MN", serif;
  // --font-family-sans-serif: Optima, sans-serif;
  // --font-family-sans-serif: "Hiragino Sans", sans-serif;
  // --font-family-sans-serif: "Heiti TC", sans-serif;
  // --font-family-sans-serif: "Bangla MN", sans-serif;
  // --font-family-sans-serif: "Cambay Devanagari", sans-serif;
  // --font-family-sans-serif: "PT Sans", sans-serif;
  // --font-family-sans-serif: "AppleGothic", sans-serif;
  // --font-family-sans-serif: "Yomm", sans-serif;
  --font-family-sans-serif: "JM Heiti TC", sans-serif;

  --font-family-sans-serif-2: Optima, sans-serif;

  --font-family-monospace: 'PT Mono', monospace;
  // --font-family-monospace: 'Andale Mono', monospace;
  // --font-family-monospace: 'Dank Mono', monospace;
  
  --font-family-toy: "Baloo Thambi 2";
  // --font-family-toy: "BM Hanna 11yrs Old";
  // --font-family-toy: "BM Hanna Air";
  // --font-family-toy: "BM Hanna Pro";
  // --font-family-toy: "BM Kirang Haerang";
  // --font-family-toy: "BM Yeonsung";

}

:root {
  /* Font-Families */
  --font-family-main: var(--font-family-sans-serif);
  --font-family-book: var(--font-family-sans-serif-2);/* Use this for text that needs to be read easily, like copy of card, article, ... */
  
  /* Text Set */
  --text-gigantic: normal 600 #{fontsize(7)}/1 var(--font-family-main);
  --text-huge: normal 600 #{fontsize(6)}/1 var(--font-family-main);
  --text-h1: normal 600 #{fontsize(5)}/1 var(--font-family-main);
  --text-h2: normal 600 #{fontsize(4)}/1.1 var(--font-family-main);
  --text-h3: normal 600 #{fontsize(3)}/1.1 var(--font-family-main);
  --text-h4: normal 600 #{fontsize(2)}/1.3 var(--font-family-main);
  --text-h5: normal 600 #{fontsize(1)}/1.5 var(--font-family-main);
  --text-h6: normal 600 #{fontsize(0)}/1.5 var(--font-family-main);
  --text-body: normal 400 #{fontsize(0)}/1.5 var(--font-family-main);
  --text-small: normal 400 #{fontsize(-1)}/1.2 var(--font-family-main);
  --text-small-2: normal 500 #{fontsize(-2)}/1.2 var(--font-family-main);
  // font: font-style font-variant font-weight font-size/line-height font-family; */

}



@mixin text($key: 'body', $family: 'main') {
  font: var(--text-#{$key});
  @include font-family($family);
}

@mixin font-family($key: 'main') {

  @if $key == 'book' {
    font-family: var(--font-family-book);
    letter-spacing: 0.01em;
  }
  @else {
    // if ($key == 'main')
    //     Use the 'default' font-family, whichis defined in this files at lines 
    font-family: var(--font-family-main);
    letter-spacing: -0.01em;
  }
}
