// Typography System
:root {

  
  @include atSmall {
    font-size: 100%;
    @include genTypoScaleByRatio(1.125, -3, 15);
  }
  // @include atLarge {
  //   @include genTypoScaleByRatio(1.25, -3, 15);
  // }
  // @include atLarge {
  //   @include genTypoScaleByRatio(1.333, -3, 15);
  // }
  @include atLarge {
    font-size: 112.5%;
    @include genTypoScaleByRatio(1.333, -3, 15);
  }

}

:root {
  /* Font Families Sets */
  // --font-family-serif: Rockwell, serif;
  // --font-family-serif: Baskerville, serif;
  // --font-family-serif: BiauKai, serif;
  // --font-family-serif: "Big Caslon", serif;
  // --font-family-serif: "Bodoni 72", serif;
  // --font-family-serif: "Didot", serif;
  --font-family-serif: "Canela Text", serif;
  
  // --font-family-sans-serif: Helvetica, sans-serif;
  // --font-family-sans-serif: "Avenir", sans-serif;
  // --font-family-sans-serif: "Myanmar MN", serif;
  // --font-family-sans-serif: Optima, sans-serif;
  // --font-family-sans-serif: "Hiragino Sans", sans-serif;
  --font-family-sans-serif: "Heiti TC", sans-serif;
  // --font-family-sans-serif: "Bangla MN", sans-serif;
  // --font-family-sans-serif: "Cambay Devanagari", sans-serif;
  // --font-family-sans-serif: "PT Sans", sans-serif;
  // --font-family-sans-serif: "AppleGothic", sans-serif;

  --font-family-sans-serif-2: Optima, sans-serif;

  
  --font-family-monospace: 'PT Mono', monospace;
  // --font-family-monospace: 'Andale Mono', monospace;
  // --font-family-monospace: 'Dank Mono', monospace;
  
  --font-family-toy: "Baloo Thambi 2";
  // --font-family-toy: "BM Hanna 11yrs Old";
  // --font-family-toy: "BM Hanna Air";
  // --font-family-toy: "BM Hanna Pro";
  // --font-family-toy: "BM Kirang Haerang";
  // --font-family-toy: "BM Yeonsung";

}

:root {
  --text-gigantic: normal 700 #{fontsize(13)}/1.5 var(--font-family-sans-serif);
  --text-huge: normal 700 #{fontsize(11)}/1.5 var(--font-family-sans-serif);
  --text-h1: normal 700 #{fontsize(9)}/1.5 var(--font-family-sans-serif);
  --text-h2: normal 700 #{fontsize(7)}/1.5 var(--font-family-sans-serif);
  --text-h3: normal 400 #{fontsize(5)}/1.5 var(--font-family-sans-serif);
  --text-h4: normal 400 #{fontsize(3)}/1.5 var(--font-family-sans-serif);
  --text-h5: normal 400 #{fontsize(1)}/1.5 var(--font-family-sans-serif);
  --text-body: normal 400 #{fontsize(0)}/1.5 var(--font-family-sans-serif);
  --text-small-1: normal 400 #{fontsize(-1)}/1.2 var(--font-family-sans-serif);
  --text-small-2: normal 400 #{fontsize(-2)}/1.2 var(--font-family-sans-serif);
  --text-small-3: normal 400 #{fontsize(-3)}/1.2 var(--font-family-sans-serif);
  // font: font-style font-variant font-weight font-size/line-height font-family; */

  /* Use this manual override for text that needs to be read easily, like copy of card, article, ... */
  --font-family-book: var(--font-family-sans-serif-2);

}



@mixin text($key) {
  // i.e. text('h1'), text('body'), text('small-1')
  font: var(--text-#{$key});
}
