body:not(.contact--visible) .contact {
  visibility: hidden;
}
body.contact--visible .contact {
  visibility: visible;
}

.contact {

  .contact-form {
    padding-top: space(10);
    padding-bottom: space(10);
  }

  &__headline {
    @include text('h4');
  }

}