@use "sass:color";

body.cursor-with-triangle {
  .cursor-container {
    --cursor-bg: none;
    --cursor-border-radius: 0;
  }

  .cursor {
    width: 50px;
    height: 50px;
    mix-blend-mode: exclusion;
    transform: translate(-10px, 0px);
    overflow: visible;
  }

  .cursor-triangle::before,
  .cursor-triangle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color.change(
      color('secondary'), $alpha: 0.55
    );
    padding: 0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(-135deg);
  }

  .cursor-triangle::before {
    background: color.change(
      color('primary'), $alpha: 0.46
    );
    transform: translateX(10px) rotate(15deg);
  }

}