@mixin cursor1 {
  .cursor-container {
    --text: none;
    --width: 7.2vw;
    --height: 100%;
    --border-radius: 50%;
    --bg-color: teal;
    mix-blend-mode: difference;
    opacity: 1;
    cursor: none;
  }
}
@mixin cursor2 {
  .cursor-container {
    --text: none;
    --width: 7.2vw;
    --height: 100%;
    --border-radius: 50%;
    --bg-color: teal;
    mix-blend-mode: normal;
    opacity: 0.5;
    cursor: none;
  }
}

body {
  @include cursor1;
}
