@mixin i-am-not-clickable-but-my-children-are {
  pointer-events: none;

  &>* {
    pointer-events: initial;
  }
}

.floating-panel {
  & {
    position: fixed;
    top: 0;left:0;right:0;bottom:0;
    width: 100vw;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;left:0;right:0;bottom:0;
    z-index: -1;
    background-color: color("grey-500");
  }

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header {
    @extend .container;
    @include i-am-not-clickable-but-my-children-are;
    padding-top: space(8);
    padding-bottom: space(8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: color('grey-800');
  }
  &__header:before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      transparent 40%
    );
  }


  &__content {
    @extend .container;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    // padding: space(40) space(28);
    padding-top: space(40);
    padding-bottom: space(40);
  }
}