@use "sass:color";

body:not(.works--visible) .works {
  visibility: hidden;
}
body.works--visible .works {
  visibility: visible;
}


.works {
  &__close-panel {
    @include text('h5');
  }

  &__headline {
    @include text('h5');
    order: 1;
  }

  &__list {
    display: grid;
    gap: space(20);
  }

  &__item-separator {
    color: color('grey-400');
    height: space(50);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(180deg, color("transparent") 0%, currentColor 35%, color("transparent") 60%);
    opacity: 0.35;
    opacity: 0;
  }

  &__item-separator--full-width {
    width: 100vw;
    margin-left: space(-28);
    margin-right: space(-28);
  }

  &__list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.work {
  & {
    padding-bottom: space(10);
  }

  &__header,
  &__content {
    padding: space(10) 0;
    padding: space(10) 0;
  }

  &__title {
    @include text('h2');
    line-height: 1;
    margin-bottom: space(4);
  }

  &__image {
    width: 100%;
  }

  &__caption {
    @include text('h4');
    display: block;
    color: color('grey-800');
  }

  &__description {
    @include text("body");
    font-family: var(--font-family-book);

    p {
      margin-bottom: space(4);
    }
  }

  &__actions {
    padding: space(5) 0;
    display: flex;
    flex-wrap: wrap;
  }

}

@include atLarge {
  .work {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .work__image {
    grid-column: 1/2;
  }
  .work__content {
    padding-left: space(10);
    padding-RIGHT: space(10);
  }
}